.work-stage {
   margin-top: 100px;
   padding: 50px 120px 50px 120px;
   background-color: #fbfbfb;
   border-radius: 60px 60px 0px 0px;
   @media only screen and (max-width: 1024px) {
      margin-top: 80px;
      padding: 50px 60px 50px 60px;
   }
   @media only screen and (min-width: 320px) and (max-width: 767px) {
      margin-top: 40px;
      padding: 50px 20px 50px 20px;
   }
}
.work-stage__inner-wrapper {
   width: 100%;
   max-width: 1600px;
}
.work-stage__title {
   margin-bottom: 30px;
   font-family: "Roboto", sans-serif;
   font-size: 1.125rem;
   line-height: 21.6px;
   font-weight: 300;
   color: #000;
   display: flex;
   align-items: center;
   gap: 5px;
   @media only screen and (min-width: 320px) and (max-width: 767px) {
      margin-bottom: 15px;
   }
}
.work-stage__body {
   display: flex;
   justify-content: center;
}
.work-stage__list {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 25px;
}
.work-stage__item-container {
   position: relative;
   width: 50%;
}
.work-stage__item-container:nth-child(odd) {
   align-self: flex-end;
}
.work-stage__item-container:nth-child(even) {
   align-self: flex-start;
}
.work-stage__item-container:not(:last-child)::after {
   content: " ";
   position: absolute;
   width: 60px;
   height: 5px;
   background-color: #d8beff;
   bottom: 0px;
}
.work-stage__item-container:nth-child(odd)::after {
   transform-origin: calc(100% - 5px) calc(100% - 5px);
   left: -40px;
   transform: rotate(-55deg);
}
.work-stage__item-container:nth-child(even)::after {
   transform-origin: calc(0% + 5px) calc(100% - 5px);
   right: -40px;
   transform: rotate(55deg);
}
.work-stage__item-inner-container {
   display: flex;
   align-items: center;
   gap: 40px;
   @media only screen and (max-width: 1024px) {
      gap: 20px;
   }
   @media only screen and (min-width: 320px) and (max-width: 767px) {
      gap: 10px;
   }
}
.work-stage__item-container:nth-child(even) .work-stage__item-inner-container {
   flex-direction: row-reverse;
}
.work-stage__item-index {
   flex-shrink: 0;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #d8beff;
   color: #fff;
   font-family: "Roboto", sans-serif;
   font-size: 1.5rem;
   line-height: 28.8px;
   font-weight: 600;
}
.stage-work__item-text {
   font-family: "Roboto", sans-serif;
   font-size: 1.5rem;
   line-height: 28.8px;
   font-weight: 400;
   @media only screen and (max-width: 1024px) {
      font-size: 1.3rem;
      line-height: 24.96px;
   }
   @media only screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 0.875rem;
      line-height: 16.8px;
   }
}
.work-stage__item-container:nth-child(even) .stage-work__item-text {
   text-align: end;
}
