.mobile-menu {
   width: 100%;
   background-color: #fff;
   position: absolute;
   z-index: 100;
   left: 0px;
   top: 100%;
   padding: 30px 20px 20px 20px;
   display: flex;
   flex-direction: column;
   gap: 30px;
   opacity: 0;
   touch-action: none;
   pointer-events: none;
   @media only screen and (min-width: 768px) {
      display: none;
   }
}
.mobile-menu.active {
   touch-action: auto;
   pointer-events: auto;
}
.mobile-menu__nav-container {
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.mobile-menu__nav-item {
   font-family: "Roboto", sans-serif;
   font-size: 1.5rem;
   line-height: 28.8px;
   font-weight: 450;
   color: rgba(0, 0, 0, 1);
}
