.work-format {
   overflow: hidden;
   margin-top: 100px;
   padding: 50px 120px 50px 120px;
   background-color: #d8beff;
   border-radius: 60px 60px 0px 0px;
   @media only screen and (max-width: 1024px) {
      margin-top: 80px;
      padding: 50px 60px 50px 60px;
   }
   @media only screen and (max-width: 912px) {
      margin-top: 80px;
      padding: 50px 20px 50px 20px;
   }
   @media only screen and (min-width: 320px) and (max-width: 767px) {
      margin-top: 40px;
   }
}
.work-format__inner-wrapper {
   width: 100%;
   max-width: 1600px;
   margin: 0 auto;
}
.work-format__header-wrapper {
   display: flex;
   justify-content: space-between;
   @media only screen and (min-width: 320px) and (max-width: 767px) {
      flex-direction: column;
   }
}
.work-format__title {
   align-self: flex-start;
   font-family: "Roboto", sans-serif;
   font-size: 1.125rem;
   line-height: 21.6px;
   font-weight: 300;
   color: #000;
   display: flex;
   align-items: center;
   gap: 5px;
}
.work-format__item {
   display: flex;
   margin-top: 30px;
}
.work-format__heading {
   font-family: "Roboto", sans-serif;
   font-size: 3.125rem;
   font-weight: 400;
   line-height: 55px;
   max-width: 500px;
   text-align: end;
   @media only screen and (max-width: 1024px) {
      font-size: 1.875rem;
      line-height: 33px;
      max-width: 400px;
   }
   @media only screen and (min-width: 320px) and (max-width: 767px) {
      width: 100%;
      text-align: start;
   }
}
.work-format__heading .highlight {
   color: #f25900;
}
.work-format__body {
   margin-top: 100px;
   width: 100%;
   display: flex;
   justify-content: center;
   @media only screen and (max-width: 1024px) {
      margin-top: 60px;
   }
}
.work-format__list {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.work-format__item-heading {
   width: 100%;
   font-family: "Roboto", sans-serif;
   font-size: 2rem;
   line-height: 38.4px;
   font-weight: 400;
   text-align: center;
   color: #f25900;
   padding-bottom: 15px;
   @media only screen and (max-width: 1024px) {
      font-size: 1.5rem;
      line-height: 28.8px;
   }
}

.work-format__item-inner-list-item {
   width: 100%;
   font-family: "Roboto", sans-serif;
   font-size: 1.25rem;
   line-height: 24px;
   font-weight: 400;
   color: #000;
   text-align: center;
   @media only screen and (max-width: 1024px) {
      font-size: 1rem;
      line-height: 19.2px;
   }
}
.work-format__item-inner-list-item:first-child {
   font-size: 1.4rem;
   text-align: left;
   @media only screen and (max-width: 1024px) {
      font-size: 1.2rem;
      line-height: 19.2px;
   }
   @media only screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 1rem;
   }
}
